.add-video-container {
  display: flex;
  width: 100%;
  min-height: 100%;
  .add-video-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 24px;
    min-width: 600px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    background-color: white;
    .input-group {
      margin-bottom: 1rem;
      .custom-file-input {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    #addVideoTextArea {
      resize: none;
    }
    .add-video-header {
      text-align: center;
      color: var(--primary);
      margin-bottom: 24px;
    }
  }
}
